<!-- <style>
    .search {
        margin-inline-start: auto;
    }
</style>
<nav class="navbar navbar-light navbar-expand-md bg-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-globe"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/listing"><b>Explore</b></a>
            </div>

            <div class="navbar-nav search">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search destinations"
                        aria-label="Search">
                    &nbsp;
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>

            <div class="navbar-nav sl">
                <a class="nav-item nav-link" href="/listing/new"><b>Add new listing</b></a>

                <% if(!currUser){ %>
                    <a class="nav-link" href="/signup"><b>Signup</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                    <% } %>
                        <% if(currUser){ %>
                            <a class="nav-link" href="/logout"><b>Log out</b></a>
                            <% } %>
            </div>
        </div>

    </div>
</nav> -->


<style>
    .search {
        margin-inline-start: auto;
    }
</style>

<nav class="navbar navbar-light navbar-expand-md bg-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-globe"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/listing"><b>Explore</b></a>
            </div>

            <div class="navbar-nav search">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search destinations"
                        aria-label="Search">
                    &nbsp;
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>

            <div class="navbar-nav sl">
                <a class="nav-item nav-link" href="/listing/new"><b>Add new listing</b></a>

                <!-- Add this to your appropriate view (e.g., dashboard.ejs or navbar.ejs) -->
                <a href="/booking/history" class="btn btn-primary">View Booking History</a>


                <% if (typeof currUser==='undefined' || !currUser) { %>
                    <a class="nav-link" href="/signup"><b>Signup</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                    <% } else { %>
                        <a class="nav-link" href="/logout"><b>Log out</b></a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>